:root {
    --text: #f0f8ff;
    --background-color: #112942;
    --hover-color: #011b37;
    --active: #2e60cd;
    --border-color: rgba(167, 167, 167, 0.345);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

nav {
    border: 1px solid var(--border-color);
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--background-color);
    display: flex;
}


li {
    float: left;
    border: 1px solid var(--border-color);
    flex-basis: calc(100%/3);
}

#last {
    flex-grow: 1;
}

p,
h1,
li a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: var(--active);
}

main {
    flex-grow: 1;
}

main article {
    height: 100%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    /* border: 1px solid var(--border-color); */

}

.article-section {
    height: 100%;
    border: 1px solid var(--border-color);
}

#images {
    background-image: url("images/IMG_bedroom.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 200;
    font-size: 50px;
}